.HorizontalScroll {
    position: relative;
    overflow-x: hidden;
}
.HorizontalScroll > div > div {
    z-index: 10;
}

.HorizontalScroll .imgWrap {
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    z-index: 1;
}
.HorizontalScroll .imgWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.HorizontalScroll .gsapContent {
    display: flex;
    width: 360dvw;
    height: 100dvh;
    overflow: hidden;
    position: relative;
    justify-content: flex-start;
}

.HorizontalScroll .HorizontalSection01 {
    position: relative;
    display: flex;
    align-items: flex-end;
    color: white;
    width: 120dvw;
    height: 100%;
    background-color: black;
}
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Text {
    padding: 0 0 60px 20px;
    width: 30%;
    margin-right: 2%;
}
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Text ul {
}
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Text ul li {
    margin: 15px 0;
    font-size: clamp(13px, 2vw, 15px);
}
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Text ul li span {
    display: inline-block;
    width: 60px;
}
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Text ul li span img {
    object-fit: cover;
    width: 100%;
}

.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Text .AboutBottomText {
    width: 130px;
    margin: 20px 0;
}

.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Text img {
    width: 100%;
    object-fit: cover;
}
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image {
    width: 68%;
    height: 100%;
    position: relative;
}
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image .imageCover {
    position: relative;
    top: 5%;
    left: 15%;
    width: 42%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image .imageCover img {
    width: 200%;
    object-fit: cover;
}
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image .imageCoverText {
    position: absolute;
    width: auto;
    bottom: 2%;
}
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image .imageCoverText ul {
}
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image .imageCoverText ul li {
    font-size: clamp(35px, 4.5vw, 70px);
    line-height: 1.2;
}
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image .imageCoverText ul li:first-child,
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image .imageCoverText ul li:nth-of-type(3) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image .imageCoverText ul li:nth-of-type(2) {
    text-align: center;
}
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image .imageCoverText ul li:nth-of-type(3) {
    text-align: right;
}
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image .imageCoverText ul li:nth-of-type(5) {
    text-align: right;
}
.HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image .imageCoverText ul li > div {
    display: inline-block;
    width: clamp(200px, 2vw, 400px);
    height: 10px;
    background-color: white;
    margin: 0 20px;
    mix-blend-mode: difference;
}

.HorizontalSection02 {
    position: relative;
    display: flex;
    width: 140dvw;
    height: 100%;
}
.PcImageDescSection {
    display: flex;
    background-color: black;
}

.HorizontalSection02 .flowText {
    transform-origin: left;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    color: white;
    position: absolute;
    top: 0%;
    left: 3%;
    background-color: black;
    z-index: 11;
}
.HorizontalSection02 .flowText .midleLine {
    display: inline-block;
    width: clamp(50px, 1vw, 150px);
    height: 10px;
    background-color: white;
    margin: 0 20px;
}
.HorizontalSection02 .flowTextMob {
}

.HorizontalSection02 .AboutText {
    color: white;
    width: clamp(560px, 10vw, 500px);
    height: 100%;
    padding: 0 100px;
    display: flex;
    align-items: center;
    background-color: black;
}
.HorizontalSection02 .AboutText ul {
}
.HorizontalSection02 .AboutText ul li {
    font-size: clamp(13px, 1vw, 15px);
    text-align: left;
}

.HorizontalSection02 .AboutText ul li.AboutTextLogo {
    width: clamp(120px, 30vw, 250px);
    margin: 30px 0;
}
.HorizontalSection02 .AboutText ul li img {
    width: 100%;
    object-fit: cover;
}
.HorizontalSection02 .imageCover {
    padding: 0 50px;
    width: 50dvw;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.HorizontalSection02 .imageCover img {
    width: 200%;
    max-width: 100dvw;
}
.HorizontalSection02 .descText {
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: auto;
    color: white;
    margin: 0 30px;
}
.HorizontalSection02 .descText .mainDescText {
    font-size: clamp(45px, 10vw, 80px);
    text-align: right;
}
.HorizontalSection02 .descText .decoText {
    font-size: clamp(16px, 5vw, 25px);
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.HorizontalSection02 .descText .decoText .midleLine {
    width: clamp(50px, 3vw, 100px);
    height: 1px;
    background-color: white;
    margin: 0 10px;
}

.HorizontalSection02 .descText .subDescText {
}
.HorizontalSection02 .descText .subDescText li {
    margin: 15px 0;
    text-align: right;
}

.HorizontalSection03 {
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    width: auto;
    height: 100dvh;
    min-width: 100dvw;
}

.HorizontalSection03 .imgWrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.HorizontalSection03 .imgWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.HorizontalSection03 .textWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.HorizontalSection03 .textWrap li {
    color: white;
}
.HorizontalSection03 .textWrap li:first-child {
    letter-spacing: 7px;
    font-size: clamp(12px, 2vw, 14px);
}
.HorizontalSection03 .textWrap li:nth-of-type(2) {
    font-size: clamp(50px, 10vw, 133px);
}
.HorizontalSection03 .textWrap li:last-child {
    font-size: clamp(16px, 2vw, 19px);
    display: flex;
    align-items: center;
}
.HorizontalSection03 .textWrap li span {
    display: inline-block;
    margin: 0 5px;
    color: white;
}

@media screen and (max-width: 767px) {
    .HorizontalScroll {
        overflow: hidden;
        position: relative;
    }
    .HorizontalScroll .gsapContent {
        flex-direction: column;
        overflow: visible;
        height: auto;
        width: auto;
        overflow-x: hidden;
    }
    .HorizontalScroll .HorizontalSection01 {
        flex-direction: column;
        max-width: 100dvw;
        width: 100%;
        align-items: normal;
    }
    .HorizontalScroll .HorizontalSection01 .HorizontalSection01_Text {
        width: 100%;
        padding: 0 20px;
        margin: 100px 0 100px 0;
    }
    .HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image {
        width: 100%;
        max-width: 100dvw;
        display: flex;
        flex-direction: column-reverse;
    }
    .HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image .imageCover {
        position: static;
        height: 300px;
        width: 100%;
    }
    .HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image .imageCover img {
        width: 300%;
    }
    .HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image .imageCoverText {
        /* bottom: auto;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%; */
        position: static;
    }
    .HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image .imageCoverText ul li {
        margin: 10px 0;
    }
    .HorizontalScroll .HorizontalSection01 .HorizontalSection01_Image .imageCoverText ul li > div {
        display: none;
    }
    .HorizontalSection02 {
        flex-direction: column;
        width: 100%;
        background-color: black;
        margin-bottom: 100dvh;
    }
    .PcImageDescSection {
        flex-direction: column;
    }
    .HorizontalSection02 .flowText {
    }

    .HorizontalSection02 .flowTextMob {
        transform-origin: left;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 80px;
        color: white;
    }
    .HorizontalSection02 .flowTextMob .midleLine {
        display: inline-block;
        width: 120px;
        height: 3px;
        background-color: white;
        margin: 0 20px;
    }
    .HorizontalSection02 .AboutText {
        margin: 150px 0 100px 0;
        padding: 0 20px;
        width: 100%;
    }
    .HorizontalSection02 .AboutText ul li.AboutTextLogo {
        width: 140px;
    }
    .HorizontalSection02 .AboutText ul li {
        text-align: left;
    }
    .HorizontalSection02 .imageCover {
        width: 100%;
    }
    .HorizontalSection02 .imageCover img {
        width: 100%;
    }
    .HorizontalSection03 {
        width: 100%;
    }
}
