.List {
    display: flex;
    flex-direction: column;
    border-left: 1px solid white;
    width: calc(100% - 380px);
    padding: 20px 15px;
    position: relative;
}
.List .mobTitle {
    display: block;
}

.List .searchCategories {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.List .searchCategories .scHead {
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #00000065;
    border: 1px solid white;
    backdrop-filter: blur(5px);
    padding: 8px 18px;
    border-radius: 9999px;
}
.List .searchCategories .scHead .downArrow {
    transition: 0.5s;
}
.List .searchCategories .scHead .downArrow_subMenuOn {
    transform: rotate(180deg);
}
.List .searchCategories .scHead .downArrow_subMenuOff {
    transform: rotate(360deg);
}

.List .searchCategories .scHead span {
    font-size: 20px;
    margin-right: 15px;
}
.List .searchCategories .SubCategoriesWrap {
    width: 100%;
    display: flex;
}
.List .searchCategories .SubCategoriesWrap .SubCategories {
    margin: 0 30px 0 0;
    min-width: 166px;
}

.List .searchCategories .SubCategoriesWrap .SubCategories > p {
    font-size: 14px;
    margin: 0 0 10px 0;
}
.List .searchCategories .SubCategoriesWrap .SubCategories > li {
    display: flex;
    align-items: center;
}
.List .searchCategories .SubCategoriesWrap .SubCategories > li span {
    margin: 0 20px 0 auto;
    cursor: pointer;
}

.List .searchCategories .scList {
    position: absolute;
    top: 50px;
    left: 0;
    width: auto;
    background-color: rgba(12, 13, 15, 0.962);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    backdrop-filter: blur(5px);
    border-radius: 14px;
    padding: 50px 30px;
    border: 30px;
    transition: 0.5s;
    height: 560px;
    overflow-y: scroll;
    z-index: 99999;
}
.List .searchCategories .scList_subMenuOn {
    opacity: 0;
    visibility: hidden;
}
.List .searchCategories .scList_subMenuOff {
    opacity: 1;
    visibility: visible;
}
.List .searchCategories .scList .inputWrap {
    margin-bottom: 50px;
}
.List .searchCategories .scList .inputWrap > label {
    display: none;
}

.List .searchCategories .scList > p {
    font-size: 14px;
}
.List .scList {
    position: relative;
}
.List .scList li label {
    display: flex;
    align-items: center;
    font-size: 16px;
}
.List .scList li label span {
    margin: 0 20px 0 0;
}

.List .scList li label input {
    border: none;
    border-bottom: 1px solid rgb(220, 220, 220);
    margin: 20px 20px 20px 0;
    font-size: 18px;
    color: white;
    appearance: none;
    min-width: 20px;
    min-height: 20px;
    border-radius: 6px;
    border: 1px solid rgb(79, 85, 90);
    background-color: rgb(12, 13, 15);
    position: relative;
}

.List .scList li label input:checked {
    background-color: rgb(255, 255, 255);
    border: none;
}
.List .scList li label input:checked::before {
    position: absolute;
    top: 52%;
    left: 40%;
    background-color: black;
    width: 3px;
    height: 9px;
    content: '';
    transform: rotate(-45deg) translate(-50%, -50%);
    border-radius: 5px;
}
.List .scList li label input:checked::after {
    position: absolute;
    top: 48%;
    left: 33%;
    background-color: black;
    width: 3px;
    height: 16px;
    content: '';
    transform: rotate(45deg) translate(-50%, -50%);
    border-radius: 5px;
}

.List > input:focus {
    outline: none;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.List .scList li label svg {
    margin: 0 20px 0 auto;
    cursor: pointer;
}

.SubCategorieDesc {
    position: sticky;
    top: 0;
    height: 1330px;
}
.SubCategorieDesc > li {
    padding: 15px;
    border-radius: 15px;
    width: 200px;
    background-color: #0e0e0e;
}
.SubCategorieDesc > li.descOn {
    display: none;
}
.SubCategorieDesc > li.descOff {
    display: block;
}
.SubCategorieDesc > li img {
    width: 100%;
    object-fit: contain;
}
.SubCategorieDesc > li p {
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}

.IconDesc_disabled {
    opacity: 0.5;
    pointer-events: none;
}

.IconDesc_active {
    opacity: 1;
    pointer-events: auto;
}
.List .todos_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    min-height: 50vh;
}
.List .todos_wrapper .WebItem {
    width: 100%;
    margin: 10px 15px;
    justify-content: space-between;
    transition: 0.5s;
}
/* 버튼클릭시 레이아웃 변경 */

.List .todos_wrapper .WebItem.clListW {
    width: 100%;
}
.List .todos_wrapper .WebItem.clListW > .mainPhoto {
    height: 500px;
}
.List .todos_wrapper .WebItem.clListW > .contentWrap {
    top: 0;
}
.List .todos_wrapper .WebItem.clListW > .contentWrap .photoDesc {
    padding: 20px;
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
}

.List .todos_wrapper .WebItem.clListS {
    width: calc(50% - 40px);
}
/* 더보기 버튼 */
.load_more_button {
    margin: 30px;
    background-color: transparent;
}
.load_more_button > div {
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.load_more_button > div:last-child {
    font-size: 15px;
    color: #ccc;
    font-weight: 100;
}

@media screen and (max-width: 767px) {
    .List {
        border-left: none;
        width: 100%;
        z-index: 1;
    }
    /* 모바일 버전의 상단 텍스트*/
    .List .mobTitle {
        display: block;
        color: white;
        font-size: 30px;
        margin-bottom: 30px;
        line-height: 1.3;
    }
    .List .mobTitle .mobTitleIcon {
        margin-bottom: 20px;
    }
    .List .mobTitle .mobTitleIcon span {
        font-size: 12px;
        margin-left: 5px;
    }

    /* 모바일 버전의 상단 ALL OPTIONS 버튼 레이어 */
    .List .MobileScHead {
        background-color: transparent;
        color: white;
        font-size: 18px;
        border-bottom: 1px solid white;
    }
    .List .MobileScHead span {
        margin-right: 5px;
    }

    .List .searchCategories .scList .scListTop {
        display: flex;
        justify-content: space-between;
    }
    .List .searchCategories .scList .scListTop button {
        background-color: transparent;
    }

    .List .searchCategories .scList {
        left: 0;
        width: 100%;
        position: fixed;
        height: 100dvh;
        padding: 50px 20px;
        border: none;
    }
    .List .searchCategories .scList input {
        border-radius: 0;
    }

    .List .searchCategories {
        margin-bottom: 50px;
    }

    .List .searchCategories .SubCategoriesWrap {
        justify-content: space-between;
    }
    .List .searchCategories .SubCategoriesWrap .SubCategories {
        width: calc(50% - 10px);
        min-width: auto;
        margin: 0;
    }
    .List .searchCategories .SubCategoriesWrap .SubCategories:first-child {
        margin-right: 10px;
    }
    .List .todos_wrapper .WebItem {
        margin: 20px 0;
    }

    .SubCategorieDesc {
        display: none;
    }
}
