.Viwer {
}
.Viwer .mainViewer {
    width: 100dvw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}
.Viwer .mainViewer::before {
    content: '';
    background-color: #0000002b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.Viwer .mainViewer .backgroundCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.Viwer .mainViewer .mvHeader {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
}
.Viwer .mainViewer .mvHeader .mvSubName {
    font-size: 25px;
}
.Viwer .mainViewer .mvHeader .mvMainName {
    font-size: 60px;
    font-weight: bold;
}

.Viwer .mainViewer .position_section {
    position: absolute;
    bottom: 7%;
    left: 50%;
}
.Viwer .mainViewer .position_section > div {
    margin: 13px 0;
}
.Viwer .mainViewer .position_section > div .cgf {
    font-size: 14px;
}
.Viwer .mainViewer .position_section > div .ctf {
    font-size: 16px;
}
.Viwer .mainViewer .position_section .positionCate {
}

.Viwer .mainViewer .position_section .positionNum {
}

.Viwer .mainViewer .position_section .positionLink {
}

.Viwer .mainViewer .position_section .positionLink p a {
    color: white;
}
.Viwer .mainViewer .backgroundCover .positionInfo {
    padding: 0 2%;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 2%;
    left: 0;
}
.Viwer .mainViewer .backgroundCover .positionInfo p {
    text-align: right;
}

.Viwer .mainViewer .backgroundCover .positionInfo .InfoImg {
}

.Viwer .mainViewer .backgroundCover .positionInfo .InfoCopy {
}

.subDescContent {
    display: flex;
    width: 100%;
    min-height: 100vh;
}
.subDescContent > div {
    width: 50%;
}

.subDescContent .leftCont {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subDescContent .lcCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subDescContent .lcCont .lcSubHead {
    font-size: 17px;
    font-weight: bold;
    color: #b6b6b6;
    margin: 10px 0;
}
.subDescContent .lcCont .lcSubName {
    font-size: 15px;
    margin-top: 8px;
}
.subDescContent .lcCont .lcName {
    margin-top: 32px;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subDescContent .lcCont .lcName span {
    margin-right: 5px;
}

.subDescContent .lcCont img {
    width: 150px;
    height: 150px;
    border-radius: 16px;
    object-fit: cover;
    border: 2px solid #ffff;
}

.subDescContent .rightCont {
    background-color: white;
}
.subDescContent .rightCont .rcCont {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    box-sizing: border-box;
}
.subDescContent .rightCont .rcCont p {
    font-size: 20px;
    font-weight: bold;
}
.subDescContent .rightCont .rcCont .rcBigText {
    text-align: right;
}
.subDescContent .rightCont .rcCont .rcBigText span {
    font-size: clamp(20px, 3.2vw, 50px);
    font-weight: bold;
    word-wrap: break-word; /* 단어가 길 경우 강제로 줄바꿈 */
}
.subDescContent .rightCont .rcCont .rcBigText .rcBigTextImg {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.subDescContent .rightCont .rcCont .rcBigText .rcBigTextImg img {
    width: 250px;
    height: 150px;
    object-fit: cover;
}
@media screen and (max-width: 767px) {
    .Viwer .mainViewer .mvHeader {
        bottom: 7%;
        top: auto;
        transform: translateY(0);
    }
    .Viwer .mainViewer .position_section {
        position: static;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .Viwer .mainViewer .position_section > div {
        margin: 0 2px 30px 0;
        padding: 4px 9px;
        background-color: #00000075;
        border-radius: 9999px;
        display: flex;
        color: #ffffff;
        backdrop-filter: blur(5px);
    }
    .Viwer .mainViewer .position_section .positionLink p a {
        color: rgb(255, 255, 255);
    }

    .Viwer .mainViewer .position_section > div .cgf {
        font-size: 12px;
    }
    .Viwer .mainViewer .position_section > div .ctf {
        font-size: 12px;
        margin-left: 5px;
    }

    .Viwer .mainViewer .backgroundCover .positionInfo p {
        text-align: left;
    }
    .subDescContent {
        flex-wrap: wrap;
    }

    .subDescContent > div {
        width: 100%;
        min-height: 100vh;
    }
    .SubPageButton {
    }
    .subDescContent .rightCont .rcCont {
        align-items: normal;
        justify-content: center;
        padding: 0;
    }
    .subDescContent .rightCont .rcCont p {
        font-size: 15vw;
        text-align: left;
        letter-spacing: -2px;
        margin: 0 10px;
    }
    .subDescContent .rightCont .rcBigText p {
        font-size: 30px;
        letter-spacing: normal;
        text-align: left;
        font-weight: 600;
    }
    .subDescContent .rightCont .rcBigText p:last-child {
        font-size: 14px;
        font-weight: 300;
    }

    .subDescContent .rightCont .rcCont .rcBigText {
        text-align: center;
    }
    .subDescContent .rightCont .rcCont .rcBigText span {
        font-size: 15px;
    }
    .subDescContent .rightCont .rcCont .rcBigText .rcBigTextImg {
        justify-content: center;
        height: 300px;
        margin: 25px 0;
    }
    .subDescContent .rightCont .rcCont .rcBigText .rcBigTextImg img {
        width: 100%;
        height: 100%;
    }
    .subDescContent .rightCont .rcCont .underLineLink {
        margin: 60px 10px 25px 10px;
        font-size: 19px;
        padding: 10px 2px 10px 0px;
        text-align: right;
        border-top: 1px solid black;
    }
    .StickyWrap {
        padding: 0 10px;
    }
    .StickyWrap .stickyItem {
        padding-left: 0;
        margin: 70px 0 30px 0;
    }
    .StickyWrap .stickyItem p.smi {
        font-size: 18px;
        font-weight: 300;
    }
    .StickyWrap .stickyItem p.mni {
        font-size: 30px;
    }
    .StickyWrap .stickyItem p.mni span {
        display: inline-block;
        width: 200px;
        font-size: 32px;
        text-align: center;
        margin: 10px 0;
        padding: 7px 12px;
    }
    .StickyWrap .stickyInfo {
        padding-top: 30px;
    }
    .StickyWrap .stickyInfo ul {
        padding: 0;
    }
    .StickyWrap .stickyInfo ul li.infoCont {
        padding: 30px 5px;
    }
    .StickyWrap .stickyInfo ul li.infoCont > div.infoText {
        font-size: 17px;
    }
    .StickyWrap .stickyInfo ul li.infoClick .infoText span {
        font-size: 17px;
    }
    .StickyWrap .stickyInfo ul li.infoCont .info {
        font-size: 16px;
    }
    .StickyWrap .stickyInfo ul li.infoClick {
    }
    .StickyWrap .stickyInfo ul li.infoClick .info {
        font-size: 16px;
    }
    .StickyWrap .stickyInfo ul li.infoCont:last-child .info {
        font-size: 14px;
        letter-spacing: -0.5px;
    }
    .StickyWrap .stickyInfo ul li.infoCont:last-child {
        border-bottom: none;
    }
}
